 table {
  width: 100%;
}

 table td,
 table th {
  padding: 5px;
  text-align: left;
  position: relative;
}

 table td {
  word-break: break-word;
}

 tbody tr:nth-child(n) {
  background: #ddd;
}

thead tr{
  background: #ddd;
}

.sort{
  
}

#filter{
  outline: none;
  background: transparent;
  border: none;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

thead th div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.sort-img-none{
  outline: none;
  background: transparent;
  border: none;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.sort-img-none #sort{
  width:100%;
}

.sort-img-down{
  outline: none;
  background: transparent;
  border: none;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.sort-img-down #sort{
  width:100%;
  transform: rotate(90deg);
}

.sort-img-up{
  outline: none;
  background: transparent;
  border: none;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.sort-img-up #sort{
  width:100%;
  transform: rotate(-90deg);
}

#filter-img{
  width:100%;
}

.filter__input-wrapper--active{
  position: absolute;
  width: 45%;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  top: 80%;
  right: 0;
  z-index: 10;
}

.filter__input-close{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: -1%;
  cursor: pointer;
}

.filter__input{
  width: 80%;
}

.filter__input-wrapper--hidden{
  display: none;
}